body, html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

#login {
    width: 45%;  
    margin-top: 20px;
}

#signUp {
    width: 45%;
    margin-left: 18px;
    margin-top: 20px;
}

.form-group {
    display: none;
}

#next-button:disabled { 
    cursor: not-allowed;
}

.invalid {
    border: 2px solid #ff0000 !important;
}

.form-container {
    width: 500px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 5px;
    color: #ffffff;
}

#next-button {
    width: 100%;
}

#back-button {
    font-size: 40px;
    display: block;
    cursor: pointer;
}

#back-button:hover {
    color: #929292;
}

.password-requirements {
    color: #ff0000;
    font-weight: bold;
}
      
.link {
    margin-left: 10px;
}      

